.config/spicetify/Backup
.config/spicetify/Extracted
.config/spicetify/config-xpui.ini
.config/spicetify/Themes/Sleek/color.ini
.config/cava/
.config/dunst/dunstrc
.config/hypr/theme/colors.conf
.config/kitty/theme.conf
.config/ghostty/themes/
.config/rofi/colors.rasi
.config/waybar/theme.css
.config/wlogout/theme.css
.config/Kvantum/pywal/
.config/baloofileinformationrc
.config/dconf/
.config/discord/
.config/kde.org/
.config/kiorc
.config/pulse/
.config/session/
.config/spotify/
.config/trashrc
.config/xsettingsd/
.config/tmux/plugins
.local/share/dolphin/view_properties/global/
.local/share/dolphin/view_properties/trash/
