* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
    background-color: transparent;
}

@import "theme.css";

window#waybar {
    background-color: transparent;
}

tooltip {
    background-color: @background;
    color: @foreground;
    border-radius: 7px;
    border-width: 0px;
}


.modules-left {
    margin-top: 5px;
    margin-left: 10px;
}

.modules-right {
    margin-top: 5px;
    margin-right: 10px;
}

.modules-center {
    margin-top: 5px;
}

#custom-icon {
    background-color: @background;
    color: rgba(0, 255, 255, 0.6);
    font-size: 15px;
    padding-left: 9px;
    padding-right: 12px;
    border-radius: 10px;
}

#custom-icon:hover {
    color: rgba(0, 255, 255, 0.8);
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#workspaces {
    background-color: @background;
    border-radius: 12px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 4px;
}

#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: @color3;
    transition: all 0.25s cubic-bezier(.55,0.0,.28,1.682);
}


#workspaces button.active {
    /* padding: inherit; */
    /* margin: inherit; */
    background-color: @color1;
    color: @foreground;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: inherit;
}

#workspaces button:hover {
    background-color: @color2;
    color: @foreground;
    border-radius: inherit;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}    


#custom-spotify {
    background-color: @background;
    color: @color3;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    margin-left: 4px;
}

#custom-spotify:hover {
  color: @color2;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

#window {
    background-color: @background;
    color: @color1;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}

#window:hover {
    color: @color5;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#custom-power {
    background-color: @background;
    color: @color4;
    padding-left: 8px;
    padding-right: 11px;
    border-radius: 0px 12px 12px 0px;
}

#custom-power:hover {
    color: @color5;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#battery {
    background-color: @background;
    color: @color3;
    padding-left: 8px;
    border-radius: 12px 0px 0px 12px;
}

#battery:hover {
    color: @color4;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#pulseaudio {
    background-color: @background;
    color: @foreground;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    border-radius: 0px 12px 12px 0px;
}

#pulseaudio:hover {
  color: @color2;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#tray {
    background-color: @background;
    color: @foreground;
    padding-left: 8px;
    border-radius: 12px 0px 0px 12px;
}

#tray menu {
    background-color: @background;
}

#tray menu * {
    color: @foreground;
    min-height: 16px;
    background-color: @background;
}

#tray menu separator {
    color: @foreground;
    min-height: 10px;
    background-color: @color2;
}

#clock {
    background-color: @background;
    color: @color1;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}

#clock:hover {
    color: @color3;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#custom-notifications {
    background-color: @background;
    color: @color3;
    margin-right: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 12px 12px 12px 12px;
}

#custom-notifications:hover {
    color: @foreground;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}
