* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 11px;
  min-height: 10px;
  background-color: transparent;
}

@import "theme.css";

window#waybar {
  background-color: transparent;
}

tooltip {
  background-color: @background;
  color: @foreground;
  border-radius: 7px;
  border-width: 0px;
}

.modules-left {
  margin-top: 4px;
  margin-left: 10px;
  margin-bottom: 4px;
}

.modules-right {
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.modules-center {
  margin-top: 4px;
  margin-bottom: 4px;
}

#custom-icon {
  background: @background;
  color: rgba(0, 255, 255, 0.6);
  font-size: 15px;
  padding-left: 8px;
  padding-right: 12px;
  border-radius: 8px;
}

#custom-icon:hover {
  color: rgba(0, 255, 255, 0.8);
  transition: all 0.3s ease-out;
}

#workspaces {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 4px;
}

#workspaces button {
  padding-left: 4px;
  padding-right: 4px;
  color: @color3;
  transition: color 0.25s ease-out;
}

#workspaces button.empty {
  color: @color4;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button:hover {
  color: @color2;
  transition: color 0.25s ease-in;
}

#custom-spotify {
  background: linear-gradient(
    -45deg,
    @color1,
    @color2,
    @color3,
    @color4,
    @color5,
    @color6
  );
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  color: @foreground;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#custom-power {
  background-color: @color2;
  color: @foreground;
  padding-left: 8px;
  padding-right: 11px;
  border-radius: 8px;
}

#custom-power:hover {
  color: @color1;
  transition: all 0.3s ease-out;
}

#battery {
  background-color: @color3;
  color: @foreground;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
}

#battery:hover {
  color: @color4;
  transition: all 0.25s ease-out;
}

#pulseaudio {
  background-color: @color4;
  color: @foreground;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 4px;
  border-radius: 8px;
}

#pulseaudio:hover {
  color: @color2;
  transition: all 0.3s ease-out;
}

#tray {
  background-color: @color5;
  color: @foreground;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 4px;
  border-radius: 8px;
}

#tray menu {
  background-color: @background;
}

#tray menu * {
  color: @foreground;
  min-height: 16px;
}

#tray menu separator {
  color: @foreground;
  min-height: 10px;
  background-color: @color2;
}

#clock {
  background-color: @color6;
  color: @foreground;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
}

#clock:hover {
  color: @color2;
  transition: all 0.3s ease-out;
}

#custom-notifications {
  background-color: @color7;
  color: @color1;
  margin-right: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
}

#custom-notifications:hover {
  color: @color5;
  transition: all 0.3s ease-out;
}
