@import "theme.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: transparent;
/*	background-image: image(url("/home/immortalforest/.cache/wal/wallpaper/wall.blur")); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


button {
    color: @foreground;
    background-color: @background;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}


button:focus {
	background-color: @color2;
	background-size: 30%;
}

button:hover {
	background-color: @color1;
	background-size: 35%;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:active {
	background-color: @color2;
}

button#lock {
	border-radius: 50px 0px 0px 0px;
}

button#shutdown {
	border-radius: 0px 50px 0px 0px;
}

button#reboot {
	border-radius: 0px 0px 50px 0px;
}

button#logout {
	border-radius: 0px 0px 0px 50px;
}

button#lock:hover {
	margin: -80px 0px 0px 170px;
	border-radius: 50px 30px 0px 30px;
}

button#shutdown:hover {
	margin: -80px 170px 0px 0px;
	border-radius: 30px 50px 30px 0px;
}

button#reboot:hover {
	border-radius: 0px 30px 50px 30px;
	margin: 0px 170px -80px 0px;
}

button#logout:hover {
	border-radius: 30px 0px 30px 50px;
	margin: 0px 0px -80px 170px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock_white.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	border-radius: 50px 0px 0px 0px;
	margin: -45px 0px 0px 200px;
}

#logout {
	background-image: image(url("$HOME/.config/wlogout/icons/logout_white.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	border-radius: 0px 0px 0px 50px;
	margin: 0px 0px -45px 200px;
}

#shutdown {
	background-image: image(url("$HOME/.config/wlogout/icons/shutdown_white.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	border-radius: 0px 50px 0px 0px;
	margin: -45px 200px 0px 0px;
}

#reboot {
	background-image: image(url("$HOME/.config/wlogout/icons/reboot_white.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	border-radius: 0px 0px 50px 0px;
	margin: 0px 200px -45px 0px;
}
