add_newline = true
command_timeout = 6000


# prompt
format = '''
[╭╴](#808080)$username$os$directory$git_branch$git_status$python$java$kotlin$nodejs$fill$cmd_duration
[╰─](#808080)$character'''


[fill]
symbol = ' '


# username
[username]
show_always = true
style_root = 'bold red'
style_user = 'bold purple'
format = '[$user]($style) '

# character
[character]
format = '$symbol '
error_symbol = "[󰰲](red)"
success_symbol = "[󰊱](green)"
vimcmd_symbol = "[󰚕](dim green)"
vimcmd_replace_one_symbol = "[󰚕](dim purple)"
vimcmd_replace_symbol = "[󰚕](dim purple)"
vimcmd_visual_symbol = "[󰚕](dim yellow)"

# OS
[os]
disabled = false
style = 'bold blue'
format = 'on [$symbol ]($style)'

[os.symbols]
Arch = ' '

# Directory
[directory]
truncation_length = 3
truncation_symbol = '…/'
style = 'bold cyan'
read_only = '  '


# git
[git_branch]
symbol = ' '
style = 'bold green'
format = "on [$symbol$branch]($style) "

[git_status]
conflicted = ' '
up_to_date = ' '
untracked = ' '
ahead = '⇡$count'
diverged = '⇅ ⇡${ahead_count}⇣${behind_count}'
behind = '⇣$count'
stashed = '󰏗 '
modified = '󰷈 '
staged = '[++$count ](green)'
renamed = ' '
deleted = ' '
style = 'bold green'
format = '[\(](dimmed white)[($all_status$ahead_behind)]($style)[\)](dimmed white) '

# languages
[python]
symbol = ' '
style = 'bold yellow'
format = 'via [$symbol$virtualenv $version]($style) '

[java]
symbol = '☕ '
style = 'bold red'
format = 'via [$symbol$version]($style) '

[kotlin]
symbol = ' '
style = 'bold purple'
format = 'via [$symbol$version]($style) '

[nodejs]
format = 'via [$symbol$version](bold dimmed green) '

[c]
symbol = ' '
style = 'bold dimmed purple'
format = 'via [$symbol$version]($style) '


# right prompt
[time]
disabled = false
use_12hr = true
time_format = '%I:%M %p'
format = '[ $time]($style)'
